[submodule "vendor/libbase64"]
	path = vendor/libbase64
	url = ../../holepunchto/libbase64.git
	shallow = true
[submodule "vendor/libhex"]
	path = vendor/libhex
	url = ../../holepunchto/libhex.git
	shallow = true
[submodule "vendor/libutf"]
	path = vendor/libutf
	url = ../../holepunchto/libutf.git
	shallow = true
